#container{
    width: 1000px;
    height: 460px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#balao{
    width: 300px;
    height: 200px;
    background-color: #DAD330;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
}