#container {
  display: flex;
}
#conteudoPrincipal {
  margin: 30px 0 0 30px;
}

#linhaHorizontal{
    height: 1px;
    margin: 20px 0 20px;
    background-color: #757575;
}
#subtextoP{
  color: #06C167;
}