#caixaNaoEncontrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#conteudoPersonalizado{
    padding: 15px 30px 0;
}
#caixaDasEntradasPersonalizada{
    display: flex;
    flex-direction: column;
}
#imgNaoEncontrado{
    width: 100px;
    height: 100px;
}
#textoNaoEncontrado{
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    width: 100%;
}
#descricaoNaoEncontrado{
    color: red;
}
#linha{
    height: 1px;
    width: 100%;
    background-color: #757575;
    margin-bottom: 30px;
}